body {
	background-color: black;
}

header {
	color: white;
	font-family: sans-serif;
	font-size: 30px;

	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

section {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
}

.card-container {
	
	width: 300px;
	padding: 20px;
	margin: 30px;

	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;

	border: 2px solid white;
	border-radius: 10%;
}

.card-container img {
	height: 180px;
	max-width: 90%;
	width: 500px;
	margin-bottom: 7px;
	border-radius: 15%;
}

.card-container p {
	font-family: serif;
	color: white;
	text-align: center;
}